<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dss.swmusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".me.AboutActivity"
            android:theme="@style/PlayActivityTheme"></activity>
        <activity android:name=".me.SettingActivity" />
        <activity android:name=".me.SearchResultActivity" />
        <activity
            android:name=".me.SearchActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".me.HomePageActivity" />
        <activity
            android:name=".discover.DailyRecommendActivity"
            android:theme="@style/PlayListTheme" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".util.MyWebView" />
        <activity
            android:name=".me.PlayListDetailActivity"
            android:theme="@style/PlayListTheme" />
        <activity
            android:name=".entity.StartActivity"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".me.PlayActivity"
            android:theme="@style/PlayActivityTheme" />
        <activity
            android:name=".login.VerifyCodeActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".login.SetPasswordActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".login.PasswordActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".me.LocalMusicActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".login.EntryActivity"
            android:theme="@style/EntryTheme" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusTheme" />
    </application>

</manifest>